@font-face {
  font-family: Lora-Bold;
  src:url(./static/Lora-Bold.ttf)
}

body {

    margin: 0; 
  
    background-color: #fefbe8;
  
    font-family: 'Lora-Bold', serif; 
  
  }
.primary-header {
  padding: 60px 60px 60px 60px;
display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
  }
    .main-heading {

        font-size: 70px;
      
        color: #205D76;}
 .main-heading {

            font-size: 70px;
          
            color: #205D76;
          
          }
 .store-section {

            display: flex; 
          align-items: center;
            justify-content: center; 
            min-height: 100vh;
          
           }
.building {

                width: 312px;
              
              }
 .category-heading {

                color: #205D76;
              padding: 10px;
                font-size: 30px; 
              }
.store-list {

                    padding-left: 15px;
                  
                    color: #dd690a; }
 .store-name {

   padding-right: 40px;
  margin-bottom: 10px;
   list-style-type: none; }
.links {
  text-decoration: none;
  color: rgb(0, 0, 0);
border-right:solid rgb(70, 70, 70) ;
border-bottom: solid rgb(70, 70, 70) ;
border-left: solid rgb(223, 223, 223);
border-top: solid rgb(223, 223, 223);
  background-color:rgb(159, 159,159);
  padding: 5px;
  border-radius: 5px;
  transition: padding 0.3s, color 0.3s;
}
.links:visited {
  color: rgb(255, 213, 213);
}
.links:hover{
padding: 7px;
color: rgb(255, 255, 255);

}
.links:active {
  color: #046388;
}
.town-preview {
  width: 400px;
  height: 400px;
}
.menu-link {
  text-decoration: none;
  color: #205D76;
  
}
.menu-ul {
  font-size: 30px;
 
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  list-style-type: none;
  width: 100%;
}
.menu-link:hover {
  text-decoration: underline;
  color: #fcad36;
}

